*{
box-sizing: border-box;
}
.width-10{
    float: left;
    width: 10%;
    border: 1px solid black;
}
.width-12{
    float: left;
    width: 12.5%;
    border: 1px solid black;
}
.width-20{
    float: left;
    width: 20%;
    border: 1px solid black;
}
.width-30{
    float: left;
    width: 30%;
    border: 1px solid black;
}
.width-33{
    float: left;
    width: 33.33%;
    border: 1px solid black;
}
.width-40{
    float: left;
    width: 40%;
    border: 1px solid black;
}
.width-50{
    float: left;
    width: 50%;
    border: 1px solid black;
}
.width-60{
    float: left;
    width: 60%;
    border: 1px solid black;
}
.width-70{
    float: left;
    width: 70%;
    border: 1px solid black;
}
.width-100{
    float: left;
    width: 100%;
    border: 1px solid black;
}